fuzzy-logic/.ipynb_checkpoints/McClain_Fuzzy-checkpoint.ipynb
fuzzy-logic/.ipynb_checkpoints/Untitled-checkpoint.ipynb
fuzzy-logic/.vscode/settings.json
/.ipynb_checkpoints
.ipynb_checkpoints
# ignore _pycache_ directories
q_learning/tic_tac_toe/__pycache__/tic_tac_toe_board.cpython-311.pyc
q_learning/tic_tac_toe/__pycache__/tic_tac_toe_gui.cpython-311.pyc
q_learning/tic_tac_toe/__pycache__/tic_tac_toe_q_learning.cpython-311.pyc
_pycache_/
*__pycache__/
cache.db
# ignore .DS_Store files
.DS_Store
# ignore .ipynb_checkpoints directories
.ipynb_checkpoints/
# ignore .vscode directories
.vscode/

